body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f5f7fa;
  color: #000000;
  font-size: larger;
  text-align: center;
}

header {
  background: #5c5c5c;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  padding: 30px;
  max-width: 2000px;
  margin: auto;
  background: #a8a7a762;
}

h2 {
  color: #000000;
  margin-bottom: 15px;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  background: #f1f3f9;
  display: inline-block;
  margin: 5px;
  padding: 8px 12px;
  border-radius: 5px;
}

.projects {
  text-align: center;
}

.project {
  display: inline-block;
  margin: 15px;
}

.project img {
  width: 400px;
  height: 350px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.contact {
  background: #a8a7a762;
}

footer {
  text-align: center;
  padding: 15px;
  background: #a8a7a762;
}
